.Rproj.user
.Rhistory
.RData
.Ruserdata
*.accdb
*.laccdb
*.bib.bak
*.gpx
*.nob
*.html
*.nb.html
*.xlsx
*.asc
*.hdr
*.sqlite
*.jpeg
*.gif
*.mpeg
*.7z
*.zip
*.log
*.R~
*.evi
Thumbs.db
Code/Archive
Data/*/*.Rdata
Data/Backscatter/*.csv
Data/Backscatter/*/*/*.csv
Data/Backscatter/*/*.png
Data/Backscatter/*/*.Rdata
Data/Backscatter/*/*.rds
Data/Backscatter/*/*.csv
Data/Backscatter/*/EK80
Data/Backscatter/*.cpg
Data/Backscatter/*.dbf
Data/Backscatter/*.png
Data/Backscatter/*.prj
Data/Backscatter/*.sbn
Data/Backscatter/*.sbx
Data/Backscatter/*.sh*
Data/Backscatter/RL/Originals/*
Data/Backscatter/SD/Archive/*
Data/Calibration/*/*kHz*.txt
Data/Calibration/*/*kHz*.xml
Data/Calibration/*/*.txt
Data/Calibration/*/*.xml
Data/Calibration/*/*/*.txt
Data/Calibration/*/*.Rdata
Data/Calibration/FM/*
Data/CTD/*
Data/CUFES/*.csv
Data/debug_img.Rdata
Data/GIS/Mexico/*
Data/Habitat/*
Data/Nav/*.rds
Data/Nav/GPS/*
Data/Nav/JCF/*
Data/Nav/mygeodata/*
Data/Nav/Mexico/*
Data/SCS/*
Data/Seine/*
Data/TDR/*
Data/TEST
Data/Trawl/*.csv
Data/Trawl/*.rds
Data/Trawl/Archive/*
Data/UCTD/*
Data/Zmux/*
Doc/*.aux
Doc/*.docx
Doc/*.html
Doc/*.log
Doc/*.lof
Doc/*.lot
Doc/*.out
Doc/*.pdf
Doc/*.pptx
Doc/tex2pdf*
Doc/*.toc
Doc/archive
Figs/*.pdf
Figs/*.png
Figs/*.jpg
Figs/TDR/*.png
Output/*.csv
Output/*.txt
Output/*.HTML
Output/*.Rdata
Output/*.rds
Output/*.dbf
Output/*.prj
Output/*.shp
Output/*.shx
Output/cal/*
Output/Calibration/*
Output/CDFW/*
Output/CTDapp/*
Output/DFO/*
Output/INAPESCA/*
Output/for_shannon/*
Output/imap/*
Output/estimateBiomass_explorer_files/*
Output/plotBio_explorer_files/*
Output/interactive_explorer_files/*
Output/saildrone_mapview_files/*
Output/routes/*
Output/routes_updated/*
Output/shapefiles
Output/tables/*
Output/tables_updated/*
Output/waypoints/*
Output/waypoints_updated/*
Reviews/*
Sandbox/*.pdf
Sandbox/*.html
Simulation/*
Tables/
Tests/
temp.Rdata
