.Rproj.user
.Rhistory
.RData
.Ruserdata
*.accdb
*.laccdb
*.bib.bak
*.gpx
*.html
*.nb.html
*.xlsx
*.asc
*.hdr
*.sqlite
*.jpeg
*.7z
*.zip
*.log
*.R~
Thumbs.db
Code/Archive
Data/*/*.Rdata
Data/Backscatter/*.csv
Data/Backscatter/*/*.Rdata
Data/Backscatter/*/*.rds
Data/Backscatter/*/*.csv
Data/Backscatter/*/EK80
Data/Backscatter/*.cpg
Data/Backscatter/*.dbf
Data/Backscatter/*.prj
Data/Backscatter/*.sbn
Data/Backscatter/*.sbx
Data/Backscatter/*.sh*
Data/Calibration/*/*kHz*.txt
Data/Calibration/*/*kHz*.xml
Data/Calibration/*/*.txt
Data/Calibration/*/*/*.txt
Data/Calibration/*/*.Rdata
Data/Calibration/FM/*
Data/Nav/GPS/*
Data/debug_img.Rdata
Data/SCS/*.elg
Data/TEST
Doc/*.pdf
Doc/*.docx
Doc/*.html
Doc/*.pptx
Doc/tex2pdf*
Doc/archive
Figs/*.png
Output/*.csv
Output/*.txt
Output/*.HTML
Output/*.Rdata
Output/*.dbf
Output/*.prj
Output/*.shp
Output/*.shx
Output/cal/*
Output/Calibration/*
Output/CTDapp/*
Output/imap/*
Output/estimateBiomass_explorer_files/*
Output/plotBio_explorer_files/*
Output/interactive_explorer_files/*
Output/saildrone_mapview_files/*
Output/routes/*
Output/waypoints/*
Reviews/*
Tables/
Tests/
temp.Rdata
