.Rproj.user
.Rhistory
.RData
.Ruserdata
*.accdb
*.bib.bak
*.html
*.nb.html
*.xlsx
*.pptx
*.asc
*.hdr
*.sqlite
*.jpeg
*.zip
*.log
*.R~
Thumbs.db
Code/Archive
Data/*/*.Rdata
Data/Backscatter/*.csv
Data/Backscatter/RL/*.csv
Data/Backscatter/LM/*.csv
Data/Backscatter/SH/*.csv
Data/Backscatter/SR/*.csv
Data/Backscatter/OD/*.csv
Data/Backscatter/JD/*.csv
Data/Backscatter/SD/*.csv
Data/Backscatter/*/EK80
Data/Backscatter/*.cpg
Data/Backscatter/*.dbf
Data/Backscatter/*.prj
Data/Backscatter/*.sbn
Data/Backscatter/*.sbx
Data/Backscatter/*.sh*
Data/Calibration/*/*kHz*.txt
Data/Calibration/*/*kHz*.xml
Data/Calibration/*/*.txt
Data/Calibration/*/*/*.txt
Data/TEST
Doc/*.pdf
Doc/*.docx
Doc/*.html
Doc/*.pptx
Doc/tex2pdf*
Doc/archive
Doc/_Reports/*.pdf
Figs/*.png
Output/*.csv
Output/*.txt
Output/*.HTML
Output/*.Rdata
Output/*.dbf
Output/*.prj
Output/*.shp
Output/*.shx
Output/cal/*
Output/imap/*
Output/interactive_explorer_files/*
Output/saildrone_mapview_files/*
Presentation/EstimateCPS-figure
Presentation/EstimateCPS_files
Presentation/*.html
Tables/
Tests/
EstimateCPS_Minimal.Rmd
EstimateCPS*files/
temp.Rdata
